
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid ">
            <h6>Asp.net MVC Architecture</h6>
            <a href="@Url.Action("Login","Home")" class="btn btn-success mr-0" id="login"><span class="oi oi-account-login" aria-hidden="true"></span>Login</a></a>
        </div>
    </nav>

