
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section username{
    <div class="container-fluid ">
        <img src="~/Content/images/mvcbanner.jpg" class="mw-100" alt="mvc image">
    </div>
   }
    

