
@{
    ViewBag.Title = "Ques5";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
    <div class="container p-5">

        <h2>What is the use of viewmodel in mvc and  how to pass view model to another parsial view </h2>
        <h3>viewmodel</h3>
        <p class="text-justify">
            ViewModel plays an important part in mvc architecture when we have to show the multiple model data 
            to the view, so we use Viewmodel we take the required properties from the models and put them into the 
            customViewModel. and then we set this View model to the View.
        </p>
        <h3>how to pass view model to another parsial view</h3>
        <p class="text-justify">
            We pass the model from control through action method to view and then we pass the two parameter in
            Html.Partial("Partial_Name",Model). same applied to the Html.RenderPartial("PartialName",Model)
        </p>
    </div>
