
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <div class="container-fluid ">
           <h6>Asp.net MVC Architecture</h6>
           <a href="@Url.Action("UserLogin","Home")" class="btn btn-success mr-0"><span class="oi oi-account-login" aria-hidden="true"></span>Login</a></a>
       </div>
    </nav>

