
@{
    ViewBag.Title = "Ques5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container p-3">

        <h2>Use of Global. Asax and difference b/w global Web config and View Web Config.</h2>

         <p class="font-weight-bold">Global.asax</p>
            <p>
                Global.asax file is used to write the code at system level.Whenever an application starts it's execution,application life cycle starts.This application life cycle have various events like:-
                <ol >
                    <li>Application_Start</li>
                    <li>Application_End</li>
                    <li>Session_Start</li>
                    <li>Session_End</li>
                    <li>Application_BeginRequest</li>
                    <li>Application_AuthenticateRequest</li>
                    <li>Application_Error</li>
                </ol>

                If we want to write code in any of the event,global.asax file is used to write the method of that event.
                For example:Application_Start in MVC is mainly used to register routes in route table and bundles in bundle table.

            </p>



            <p class="font-weight-bold">web.config in View folder</p>
            <p>
                web.config file in view folder contains he following code:

                <br /><br />

                name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler"

                <br /><br />Clearly from the code above it uses "HttpNotFoundHandler" to avoid the access of views in the View folder directly by writing directly in the url.
                It only allows the access of the view through controllers.

                <br /><br />It is so because in MVC only Controller is responsible to accept the httpRequest and no other component is supposed to accept the request.
            </p>

            <p  class="font-weight-bold">Global web.config</p>

            <p>It is used to write configuration settings for the application.If any changes are made in this file it is not required to rebuild the solution.The changes are applied to the application automatically.Any number of web.config files can be added in the project</p>
        </div>

       



    