
@{
    ViewBag.Title = "Ques4";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

    <div class="container p-5">
        <h2>Explain Layout and how to set layout into view from Controller, View or globally</h2>
        <h3>Layout</h3>
        <p class="text-justify">
            Layout is a shared View in which we have a common design is applied for different childview.
            layout contain the html helpers method to render the views or data.
            layout generally we say it is a master layout similar to master pages in asp.net.
            as you see in my project i have created a _MasterLayout.cshtml.
            which have the html helper methods.
            for example: I have applied this in my project
        </p>
        <h3>how to set layout into view from Controller</h3>
        <p class="text-justify">
            We can set the layout into view from the conrtoller with the help of scaffholding. when we have to create the view from the 
            controller. we simply right click->on the action method-> then add view then we have to select the layout page in use layout section.

        </p>
        <h3>View or globally</h3>
        <p class="text-justify">
            We can set the layout globally, as we have a _ViewsStart.cshtml file in which we define the layout which will be rendered
            when the application is start. we simply pass the layout path in the razor syntax.
            for example: see the file name _ViewStart.cshtml
        </p>
    </div>
