@page  "/question4"
    
    <div class="container m-4">
        <h2>Explain all binding with example?</h2>
        <h3>There are three types of bindings</h3>
        <h4>One-Way binding</h4>
        <p class="text-justify">
            When we want to use the value of a variable or a property in our code we use one-way binding.
            for example:
        </p>
        <img src="/images/One-way.png" alt="one-way" />
        <h4>Two-Way binding</h4>
        <p class="text-justify">
            To achieve Two Way binding we use property to get and set the value of the binding variable.
            for example I used two way binding in my calculator question5 i created two properties named
            DisplayResult and DisplayLabel.
        </p>
        <h4>Event Binding</h4>
        <p class="text-justify">
            when we bind any event with the method dipicting the action to be performed on that event we use event binding.
            for example I used event binding in the calculator and other questions. In question 5  calculator i used onclick to bind
            the button click event with the methods.
        </p>
    </div>