@page  "/question2"

    <div class="container m-4">
        <h2>What is the component and component parameter?</h2>
        <h3>Component:</h3>
        <p class="text-justify">
            Component is a fundamental building block of the blazor application.
            which consist the UI coding and C# coding in it.<br />
            Component file extension is .razor file.<br />
            In Component we can write the C# code between the razor block.
            we can also bind the data with the help of razor block.
            component is very import part of the blazor.
            see below image of component<br />
            <img src="/images/blazor-component.png" alt="component" />

        </p>
        <h3>component parameter</h3>
        <p class="text-justify">
            Component parameter is a non-public properties by which we can
            set the parameter from the markup code. we can define the parameter with the
            help of paramert attribute [parameter].<br />
            Syntax:<br />
            [parameter]
            protected string name {get;set;}
            we can bind the data with the help of these parameters.

        </p>
    </div>

@code {

}
